<!DOCTYPE html>
<html>
  <head>
    <title>Car picker</title>
  </head>
  <body>

    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

        <!-- Bootstrap -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



    <form action='/response'>

      <label for="Q1">What will the car be used for?</label>

      <div>
      <input type="radio" name= "use" id="Racing" value="Racing" >
      <label for="Racing">Street racing</label>
    </div>

    <div>
    <input type="radio" name= "use" id="Ad" value="Ad" >
    <label for="Ad">Adventure. going to the beach, road trips, etc.</label>
  </div>


  <div>
  <input type="radio" name= "use" id="FC" value="FC" >
  <label for="FC">Family car-taking people to practice, going to the local Marshals, Target, the mall, and grocery store.</label>
  </div>

<label for="Q2">What is your prefered car brand?</label>
<div>
<input type="radio" name= "brand" id="BMW" value="BMW" >
<label for="Racing">BMW</label>
</div>

<div>
<input type="radio" name= "brand" id="P" value="P" >
<label for="Ad">Porsche</label>
</div>


<div>
<input type="radio" name= "brand" id="ford" value="ford" >
<label for="FC">Ford</label>
</div>



      <input type="submit">
    </form>

  </body>
</html>
© 2022 GitHub, Inc.
