<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Color</title>
  </head>
  <body>

    <form action='/response'>

      <label for="Q1">What will the car be used for?</label>
      <div>
      <input type="radio" name= "use" id="Racing" value="Racing" >
      <label for="Racing">Street racing</label>
    </div>

    <div>
    <input type="radio" name= "use" id="Ad" value="Ad" >
    <label for="Ad">Adventure. going to the beach, road trips, etc.</label>
  </div>


  <div>
  <input type="radio" name= "use" id="FC" value="FC" >
  <label for="FC">Family car-taking people to practice, going to the local Marshals, Target, the mall, and grocery store.</label>
  </div>

<label for="Q2">What is your prefered car brand?</label>
<div>
<input type="radio" name= "brand" id="BMW" value="BMW" >
<label for="Racing">BMW</label>
</div>

<div>
<input type="radio" name= "brand" id="P" value="P" >
<label for="Ad">Porsche</label>
</div>


<div>
<input type="radio" name= "brand" id="ford" value="ford" >
<label for="FC">Ford</label>
</div>



      <input type="submit">
    </form>

  </body>
</html>
© 2022 GitHub, Inc.
